
@font-face {
  font-family: 'Qanelas-UltraLightItalic';
  src: url('Qanelas-UltraLightItalic.eot?#iefix') format('embedded-opentype'),  url('Qanelas-UltraLightItalic.otf')  format('opentype'),
	     url('Qanelas-UltraLightItalic.woff') format('woff'), url('Qanelas-UltraLightItalic.ttf')  format('truetype'), url('Qanelas-UltraLightItalic.svg#Qanelas-UltraLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
